html, body {
    height: 100%;
}

/* Added background to webpage for personalization.*/
body {
    background-image: url("https://image.freepik.com/free-vector/floral-seamless-pattern-with-leaves-herbs-hand-drawn-sketch-line-illustration-simple-scandinavian-style-limited-pastel-color_165705-42.jpg");
}

main {
    padding-bottom:100px;
}

/* Attributes for the left alignment and resizing of headshot.*/
.headshot {
    margin: 20px;
    float: left;
    width: 175px;
    height: 250px;
}

.myPortfolio {
    margin: 20px;
}

/* Caption blocks for portfolio images.*/
#projectCard {
    margin-top: 60px;
}

#container {
    margin-left: 175px;
}

.card-header {
    font-size: 16px;
    text-align: center;
    color: rosybrown;

}

#githubButton, #deployButton {
    margin-top: 20px;
    margin-left: 20px;
    background-color: rosybrown;
    border: none;
}

#githubButton {
    margin-left: 30px;
}

#deployButton2 {
    margin-top: 40px;
    margin-left: 20px;
    background-color: rosybrown;
    border: none;
}

#deployButton3 {
    margin-top: 40px;
    margin-left: 20px;
    background-color: rosybrown;
    border: none;
}

#deployButton4 {
    margin-top: 50px;
    margin-left: 20px;
    background-color: rosybrown;
    border: none;
}

#deployButton5 {
    margin-top: 70px;
    margin-left: 20px;
    background-color: rosybrown;
    border: none;
}
/* .text-block {
    position: absolute;
    justify-content: center;
    bottom: 5px;
    background-color: rosybrown;
    color: white;
}

.portfolioType {
    text-align: center;
    padding: 20px;
    justify-content: center;
    bottom: 5px;
    background-color: rosybrown;
    color: white;

} */

.portfolioOther {
    padding: 10px;
}

.myBio {
    text-align: justify;
    margin: 20px;
}

/* Attributes for social media icons, so that they are properly distributed on the page.*/
.socialIcons {
    list-style-type: none;
    margin-left: auto;
    margin-right: auto;
    max-width: 400px;
}

.linkedIn {
    margin-left: 100px;
}

a.float-left.linkedIn {
    margin-right: 50px;
}

/* Hides bullet points of listed social media icons.*/
.logo {
    display: block;
}

.contactForm {
    margin: 20px;
}

/* Sticky footer attributes, so that it remains fixed at bottom of page.*/
.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: darkgray;
    color: white;
    text-align: center;
}

/* Attributes to properly space out the images of the portfolio page.*/
.image {
    margin: 20px;
    width: 250px;
    height: 250px;
}